---
interface Props {
    osis: string | undefined
    checkedOut: string[]
    onlyCheckedIn: string[]
    allMeetings: string[]
    userData: {
        id_number: string
        first_name: string
        last_name: string
        num_checkins: number
        attendance_rate_percent: string
        num_checkouts: number
        checkout_rate_percent: string
        total_hours: number
        average_hours: number
        safety_test: boolean
        dues: boolean
    }
}

const { osis, checkedOut, onlyCheckedIn, allMeetings, userData } = Astro.props

import Calendar from "./Calendar.astro"
import UserData from "./UserData.astro"
import Logout from "./Logout.astro"
import CompletionStatus from "./CompletionStatus.astro"
---

<h1 class="mb-2 text-4xl text-center">
    {userData.first_name ? `${userData.first_name} ${userData.last_name}` : osis}
</h1>

<div class="flex flex-col w-full items-center mb-5 space-y-5">
    <div class="flex flex-wrap gap-5 justify-center mx-3">
        <div class="flex flex-wrap w-[85vw] justify-center gap-4">
            <div class="flex gap-2 items-center">
                <div class="w-4 h-4 bg-[#77dd77]"></div>
                <h1>Present</h1>
            </div>
            <div class="flex gap-2 items-center">
                <div class="w-4 h-4 bg-[#e36873]"></div>
                <h1>Absent</h1>
            </div>
            <div class="flex gap-2 items-center">
                <div class="w-4 h-4 bg-[#ffbb73]"></div>
                <h1>Didn't Checkout</h1>
            </div>
        </div>
        <Calendar checkedOut={checkedOut} onlyCheckedIn={onlyCheckedIn} allMeetings={allMeetings} />
        <UserData userData={userData} />
    </div>
    <CompletionStatus safety_test={userData.safety_test} dues={userData.dues} />
    <Logout />
</div>